<h1 class='text-2xl text-white mb-5'>Ask a question</h1>
{{> questionForm tags=tags}}

<hr>

<h1 class='text-2xl text-white my-5'>Questions</h1>

<form action='' class='w-fit'>
  <label for="filterTag" class='text-white p-5'>Filter by tags</label>

  <div class='flex'>
    <select id="filterTag" name="filterTag"
            class="ml-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option value='index'>No filter</option>
      {{#each tags}}
        <option value="{{this.title}}">
          {{this.title}}
        </option>
      {{/each}}
    </select>

    <button
      class="text-white ml-1 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Filter
    </button>
  </div>
</form>

<div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 my-10">
  {{#each questions}}
    {{> questionCard question=this}}
  {{/each}}
</div>

<hr>

<h1 class='text-2xl text-white my-5'>Hot Questions</h1>

<div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 my-10">
  {{#each hotQuestions}}
    {{> questionCard question=this}}
  {{/each}}
</div>